nav {
	display: flex;
	justify-content: center;

	& a {
		color: #fff;
		margin: 0 10px;
		padding: 5px;
		text-decoration: none;

		&:hover {
			color: #ccc;
		}

		&.active {
			background-color: #000;
			color: rgb(81, 246, 233);
		}
	}
}