@use "../../styles/mixins";
@import "../../styles/variables";

.navbar {
	align-items: center;
	background-color: #121212;
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;

	@media screen and (max-width: 550px) {
		flex-direction: column;
		row-gap: 0.5rem;
	}

	& h2 a {
		align-items: center;
		display: flex;
		gap: 0.5rem;

		@media screen and (max-width: 550px) {
			font-size: 2rem;
		}

		@include mixins.focus-outline;
	}

	& form {
		display: flex;
		gap: 0.5rem;

		& input {
			border: none;
			border-radius: 4px;
			padding: 0.2rem 0.8rem;

			@include mixins.focus-outline;
		}

		& button {
			align-items: center;
			background-color: $primary;
			border: 2px solid $primary;
			border-radius: 4px;
			color: #000;
			cursor: pointer;
			display: flex;
			font-size: 1.3rem;
			padding: 0.3rem;
			transition: 0.4s;

			&:hover {
				background-color: transparent;
				color: $primary;
			}

			@include mixins.focus-outline;
		}
	}
}
