.home {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.search_form {
	display: flex;
	justify-content: center;
	margin-bottom: 2em;
	max-width: 100%;
	width: 60%;

	& input {
		margin-right: 10px;
		width: 50%;
	}
}

.no_posts {
	text-align: center;

	& p {
		margin-bottom: 1.5em;
	}

	& a {
		padding: 10px 25px;
	}
}
